body {
  text-align: center;
  background-color: #6E5C62;
}

h1 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFAFF;
  font-family: 'Mitr', sans-serif;
  font-display: swap;
  font-weight: 600;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

#word-display {
  font-size: 24px;
  margin: 20px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* styles.css */
.word-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
  
  .letter-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
  }
  

.current-attempt .letter-box {
  background-color: #6E5C62;
  border: 4px solid #4C4347;
}

  /* style.css */
.letter-box {
    width: 50px;  
    height: 50px;
    background-color: #615458;
    border: 4px solid #615458;
    color: #FAFAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    margin: 2px;
    font-family:'mitr', sans-serif;
    font-size: 40px;
    border-radius: 10%;
    text-transform: uppercase;
  }

  
  .letter-box.correct {
    background-color: #3AA394;
  }
  
  .letter-box.incorrect-position {
    background-color: #D3AD69;
  }
  
  .letter-box.incorrect {
    background-color: #312a2c;
  }
  
  .letter-box.incomplete {
    background-color: #504a4b;
  }
  
  
  